<div mat-dialog-content>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>X-Wins</th>
        <th>O-Wins</th>
        <th>Draw</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Single Player</td>
        <td>{{ data.one.xWins }}</td>
        <td>{{ data.one.oWins }}</td>
        <td>{{ data.one.draw }}</td>
      </tr>
      <tr>
        <td>Two Player</td>
        <td>{{ data.two.xWins }}</td>
        <td>{{ data.two.oWins }}</td>
        <td>{{ data.two.draw }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div mat-dialog-actions align="end">
  <button color="primary" mat-raised-button mat-dialog-close>OK</button>
</div>
