<div class="container">
  <div class="contacts">
    <div class="contact-header-sticky">
      <div class="user-profile-picture"></div>
      <mat-icon>more_vert</mat-icon>
    </div>
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
  </div>
  <div class="chat-window">
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
    <h2>Blah Blah hello</h2>
    <br />
  </div>
</div>
