<div class="contacts-wrapper">
  <div class="sticky-header">
    <mat-toolbar>
      <mat-toolbar-row>
        <h1 style="width: 100%;">Welcome {{chatService.currentUser.name || 'User' }}!</h1>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="open options">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="list">
    <mat-selection-list #shoes [multiple]="false" (selectionChange)="selectContact($event)">
      <ng-container *ngFor="let user of chatService.contactList">
        <mat-list-option [value]="user?.userId" [selected]="user?.userId === chatService.selectedContact?.userId">
          <div class="user-avatar" mat-list-avatar>{{user?.initials}}</div>
          <div mat-line>{{user.name}}</div>
          <!-- <div mat-line> {{user.updated | date}} </div> -->
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
    <mat-list>
    </mat-list>
  </div>
</div>
